# Feature 2: Regates y carries al tercio final p90

In [1]:
# librerías
import pandas as pd
import numpy as np

In [2]:
laLiga = pd.read_csv(r'C:\Users\DELUX\Desktop\datos_OPTA\laLiga.csv')

In [3]:
jugadas = laLiga[['categoria_evento','fecha','id_evento','id_periodo','minuto','segundo','equipo','calificador','valor','id_jugador','jugador','x','y','outcome']].copy()
jugadas['valor'].fillna(True, inplace=True)

In [4]:
jugadas.drop(jugadas.index[[177812]], inplace=True)

In [5]:
jugadas = jugadas.set_index(['categoria_evento','fecha','id_evento','id_periodo','minuto','segundo','equipo','id_jugador','jugador','x','y','outcome','calificador'])['valor'].unstack()
jugadas = jugadas.reset_index().rename_axis(None).rename_axis(None, axis=1)
jugadas.fillna(False, inplace=True)

In [6]:
jugadas = jugadas[jugadas['jugador']!=False]

In [7]:
jugadas[['x','x_1','y','y_1']] = jugadas[['x','x_1','y','y_1']].apply(pd.to_numeric)

In [8]:
jugadas['coord_x_0'] = np.where((0<=jugadas['x'])&(jugadas['x']<16.67),'1',
                            np.where((16.67<=jugadas['x'])&(jugadas['x']<33.33),'2',
                                     np.where((33.33<=jugadas['x'])&(jugadas['x']<50),'3',
                                              np.where((50<=jugadas['x'])&(jugadas['x']<66.67),'4',
                                                       np.where((66.67<=jugadas['x'])&(jugadas['x']<83.33),'5',
                                                                np.where((83.33<=jugadas['x'])&(jugadas['x']<=100),'6',False))))))

In [9]:
jugadas = jugadas[['fecha','equipo','id_periodo','minuto','segundo','id_evento','id_jugador','jugador','categoria_evento','outcome','x','y','coord_x_0']]

In [10]:
jugadas = jugadas.sort_values(['equipo','fecha','id_periodo','minuto','segundo']).reset_index(drop=True)

In [11]:
jugadas['3er_tercio'] = np.where((jugadas['coord_x_0']=='5')|(jugadas['coord_x_0']=='6'),True,False)

In [12]:
jugadas.head(20)

,fecha,equipo,id_periodo,minuto,segundo,id_evento,id_jugador,jugador,categoria_evento,outcome,x,y,coord_x_0,3er_tercio
0,1,Alavés,1,0,1,3,92190,Jonathan Rodríguez Menéndez,pase,1,50.0,49.9,4,False
1,1,Alavés,1,0,6,4,155335,Guillermo Maripán,pase,0,32.7,59.3,2,False
2,1,Alavés,1,0,8,5,112994,Rubén Sobrino,duelo aéreo,0,69.4,7.2,5,True
3,1,Alavés,1,0,25,7,49370,Víctor Laguardia,pase,0,33.5,11.7,3,False
4,1,Alavés,1,1,8,8,155335,Guillermo Maripán,intercepción,1,19.0,81.4,2,False
5,1,Alavés,1,1,9,11,126119,Rubén Duarte,mala recepción,1,24.1,88.6,2,False
6,1,Alavés,1,1,10,12,49370,Víctor Laguardia,mala recepción,1,22.8,86.0,2,False
7,1,Alavés,1,1,13,10,126119,Rubén Duarte,pase,0,1.8,94.4,1,False
8,1,Alavés,1,1,40,13,246162,Martín Aguirregabiria,intercepción,1,27.5,4.0,2,False
9,1,Alavés,1,1,41,14,246162,Martín Aguirregabiria,balón sale,0,35.6,-1.6,3,False
10,1,Alavés,1,2,5,15,55179,Mubarak Wakaso,intercepción,1,39.6,28.0,3,False
11,1,Alavés,1,2,6,17,112994,Rubén Sobrino,mala recepción,0,40.0,31.2,3,False
12,1,Alavés,1,2,7,16,112994,Rubén Sobrino,evento borrado,1,0.0,0.0,1,False
13,1,Alavés,1,2,10,18,84471,Ibai Gómez,pase,1,47.1,20.9,3,False
14,1,Alavés,1,2,11,19,55179,Mubarak Wakaso,pase,0,48.3,37.1,3,False
15,1,Alavés,1,2,30,20,55179,Mubarak Wakaso,balón sale,1,-1.2,41.0,False,False
16,1,Alavés,1,2,59,21,91406,Fernando Pacheco,pase,0,4.9,47.0,1,False
17,1,Alavés,1,3,2,22,91406,Fernando Pacheco,balón sale,0,59.4,-1.6,4,False
18,1,Alavés,1,3,16,23,55378,Manuel Alejandro García Sánchez,pase bloqueado,1,55.9,66.4,4,False
19,1,Alavés,1,3,52,24,92190,Jonathan Rodríguez Menéndez,duelo aéreo,0,11.1,73.4,1,False

In [13]:
flag = []
for row in range(len(jugadas)):
    try: 
        if ((jugadas['3er_tercio'][row]==False)&(jugadas['3er_tercio'][row+1]==True)):    
            temp = True
            flag.append(temp)
        else:
            flag.append(False)
    except:
        flag.append(False)
jugadas['flag']=flag

In [14]:
jugadas = jugadas.drop(jugadas[(jugadas['categoria_evento']=='pase')&(jugadas['flag']==True)].index).reset_index().drop('index',1)

In [15]:
jugadas.head()

,fecha,equipo,id_periodo,minuto,segundo,id_evento,id_jugador,jugador,categoria_evento,outcome,x,y,coord_x_0,3er_tercio,flag
0,1,Alavés,1,0,1,3,92190,Jonathan Rodríguez Menéndez,pase,1,50.0,49.9,4,False,False
1,1,Alavés,1,0,8,5,112994,Rubén Sobrino,duelo aéreo,0,69.4,7.2,5,True,False
2,1,Alavés,1,0,25,7,49370,Víctor Laguardia,pase,0,33.5,11.7,3,False,False
3,1,Alavés,1,1,8,8,155335,Guillermo Maripán,intercepción,1,19.0,81.4,2,False,False
4,1,Alavés,1,1,9,11,126119,Rubén Duarte,mala recepción,1,24.1,88.6,2,False,False

In [16]:
fechas = []
equipos = []
id_periodos = []
minutos = []
segundos =[]
id_eventos = []
id_jugadores = []
jugadores = []
categoria_eventos = []
outcomes = []
tercer_tercios = []
flags = []
for row in range(len(jugadas)):
    if (jugadas['flag'][row]==True):    
        fec1 = jugadas['fecha'][row]
        fec2 = jugadas['fecha'][row+1]
        fechas.append(fec1)
        fechas.append(fec2)
        
        equip1 = jugadas['equipo'][row]
        equip2 = jugadas['equipo'][row+1]
        equipos.append(equip1)
        equipos.append(equip2)
        
        id_per1 = jugadas['id_periodo'][row]
        id_per2 = jugadas['id_periodo'][row+1]
        id_periodos.append(id_per1)
        id_periodos.append(id_per2)
        
        min1 = jugadas['minuto'][row]
        min2 = jugadas['minuto'][row+1]
        minutos.append(min1)
        minutos.append(min2)
        
        seg1 = jugadas['segundo'][row]
        seg2 = jugadas['segundo'][row+1]
        segundos.append(seg1)
        segundos.append(seg2)
        
        id_ev1 = jugadas['id_evento'][row]
        id_ev2 = jugadas['id_evento'][row+1]
        id_eventos.append(id_ev1)
        id_eventos.append(id_ev2)
        
        jug1 = jugadas['jugador'][row]
        jug2 = jugadas['jugador'][row+1]
        jugadores.append(jug1)
        jugadores.append(jug2)
        
        id_jug1 = jugadas['id_jugador'][row]
        id_jug2 = jugadas['id_jugador'][row+1]
        id_jugadores.append(id_jug1)
        id_jugadores.append(id_jug2)
        
        cat_ev1 = jugadas['categoria_evento'][row]
        cat_ev2 = jugadas['categoria_evento'][row+1]
        categoria_eventos.append(cat_ev1)
        categoria_eventos.append(cat_ev2)
               
        out1 = jugadas['outcome'][row]
        out2 = jugadas['outcome'][row+1]
        outcomes.append(out1)
        outcomes.append(out2)
        
        ter_ter1 = jugadas['3er_tercio'][row]
        ter_ter2 = jugadas['3er_tercio'][row+1]
        tercer_tercios.append(ter_ter1)
        tercer_tercios.append(ter_ter2)
        
        flag1 = jugadas['flag'][row]
        flag2 = jugadas['flag'][row+1]
        flags.append(flag1)
        flags.append(flag2)
        
temp = pd.DataFrame({'fecha':fechas,'equipo':equipos,'id_periodo':id_periodos,'minuto':minutos,'segundo':segundos,
                     'id_evento':id_eventos,'id_jugador':id_jugadores,'jugador':jugadores,'categoria_evento':categoria_eventos,
                     'outcome':outcomes,'3er_tercio':tercer_tercios,'flag':flags})

In [17]:
temp.head(20)

,fecha,equipo,id_periodo,minuto,segundo,id_evento,id_jugador,jugador,categoria_evento,outcome,3er_tercio,flag
0,1,Alavés,1,11,8,79,246162.0,Martín Aguirregabiria,drible,1,False,True
1,1,Alavés,1,11,13,80,246162.0,Martín Aguirregabiria,pase,0,True,False
2,1,Alavés,1,16,11,108,126119.0,Rubén Duarte,evento borrado,1,False,True
3,1,Alavés,1,16,14,110,112994.0,Rubén Sobrino,pase,1,True,False
4,1,Alavés,1,22,36,146,49370.0,Víctor Laguardia,balón sale,0,False,True
5,1,Alavés,1,22,49,148,92190.0,Jonathan Rodríguez Menéndez,balón sale,0,True,False
6,1,Alavés,2,51,14,326,55378.0,Manuel Alejandro García Sánchez,evento borrado,1,False,True
7,1,Alavés,2,51,16,327,92190.0,Jonathan Rodríguez Menéndez,falta,0,True,False
8,1,Alavés,2,52,50,339,92190.0,Jonathan Rodríguez Menéndez,mala recepción,0,False,True
9,1,Alavés,2,52,53,340,92190.0,Jonathan Rodríguez Menéndez,jugador gambeteado,0,True,False
10,1,Alavés,2,77,40,487,163817.0,Jorge Franco Alviz,falta,1,False,True
11,1,Alavés,2,78,16,488,84471.0,Ibai Gómez,pase,1,True,False
12,2,Alavés,1,19,56,172,83091.0,Borja González Tomás,mala recepción,1,False,True
13,2,Alavés,1,19,58,137,55378.0,Manuel Alejandro García Sánchez,jugador gambeteado,0,True,False
14,2,Alavés,1,30,48,241,55378.0,Manuel Alejandro García Sánchez,intercepción,1,False,True
15,2,Alavés,1,30,50,210,55378.0,Manuel Alejandro García Sánchez,pase,1,True,False
16,2,Alavés,1,39,35,265,55179.0,Mubarak Wakaso,tarjeta,1,False,True
17,2,Alavés,1,41,49,269,126119.0,Rubén Duarte,pase,0,True,False
18,2,Alavés,1,42,56,278,49370.0,Víctor Laguardia,balón sale,1,False,True
19,2,Alavés,1,43,2,279,126119.0,Rubén Duarte,pase,1,True,False

In [18]:
fechas = []
equipos = []
id_periodos = []
minutos = []
segundos =[]
id_eventos = []
id_jugadores = []
jugadores = []
categoria_eventos = []
outcomes = []
tercer_tercios = []
flags = []
for row in range(len(temp)):
    if ((temp['flag'][row]==True)&(temp['categoria_evento'].isin(['drible','intercepción','tacle','duelo aéreo',
                                                                  'pase bloqueado','recuperación de balón'])[row])&
       (temp['outcome'][row]==1)):
        
        fec1 = temp['fecha'][row]
        fec2 = temp['fecha'][row+1]
        fechas.append(fec1)
        fechas.append(fec2)
        
        equip1 = temp['equipo'][row]
        equip2 = temp['equipo'][row+1]
        equipos.append(equip1)
        equipos.append(equip2)
        
        id_per1 = temp['id_periodo'][row]
        id_per2 = temp['id_periodo'][row+1]
        id_periodos.append(id_per1)
        id_periodos.append(id_per2)
        
        min1 = temp['minuto'][row]
        min2 = temp['minuto'][row+1]
        minutos.append(min1)
        minutos.append(min2)
        
        seg1 = temp['segundo'][row]
        seg2 = temp['segundo'][row+1]
        segundos.append(seg1)
        segundos.append(seg2)
        
        id_ev1 = temp['id_evento'][row]
        id_ev2 = temp['id_evento'][row+1]
        id_eventos.append(id_ev1)
        id_eventos.append(id_ev2)
        
        jug1 = temp['jugador'][row]
        jug2 = temp['jugador'][row+1]
        jugadores.append(jug1)
        jugadores.append(jug2)
        
        id_jug1 = temp['id_jugador'][row]
        id_jug2 = temp['id_jugador'][row+1]
        id_jugadores.append(id_jug1)
        id_jugadores.append(id_jug2)
        
        cat_ev1 = temp['categoria_evento'][row]
        cat_ev2 = temp['categoria_evento'][row+1]
        categoria_eventos.append(cat_ev1)
        categoria_eventos.append(cat_ev2)
               
        out1 = temp['outcome'][row]
        out2 = temp['outcome'][row+1]
        outcomes.append(out1)
        outcomes.append(out2)
        
        ter_ter1 = temp['3er_tercio'][row]
        ter_ter2 = temp['3er_tercio'][row+1]
        tercer_tercios.append(ter_ter1)
        tercer_tercios.append(ter_ter2)
        
        flag1 = temp['flag'][row]
        flag2 = temp['flag'][row+1]
        flags.append(flag1)
        flags.append(flag2)
        
temp2 = pd.DataFrame({'fecha':fechas,'equipo':equipos,'id_periodo':id_periodos,'minuto':minutos,'segundo':segundos,
                     'id_evento':id_eventos,'id_jugador':id_jugadores,'jugador':jugadores,'categoria_evento':categoria_eventos,
                      'outcome':outcomes,'3er_tercio':tercer_tercios,'flag':flags})

In [19]:
fechas = []
equipos = []
id_periodos = []
minutos = []
segundos =[]
id_eventos = []
id_jugadores = []
jugadores = []
categoria_eventos = []
outcomes = []
tercer_tercios = []
flags = []
for row in range(len(temp2)-1):
    if ((temp2['jugador'][row]==temp2['jugador'][row+1])&(temp2['flag'][row]==True)&(temp2['flag'][row+1]==False)):
        
        fec1 = temp2['fecha'][row]
        fec2 = temp2['fecha'][row+1]
        fechas.append(fec1)
        fechas.append(fec2)
        
        equip1 = temp2['equipo'][row]
        equip2 = temp2['equipo'][row+1]
        equipos.append(equip1)
        equipos.append(equip2)
        
        id_per1 = temp2['id_periodo'][row]
        id_per2 = temp2['id_periodo'][row+1]
        id_periodos.append(id_per1)
        id_periodos.append(id_per2)
        
        min1 = temp2['minuto'][row]
        min2 = temp2['minuto'][row+1]
        minutos.append(min1)
        minutos.append(min2)
        
        seg1 = temp2['segundo'][row]
        seg2 = temp2['segundo'][row+1]
        segundos.append(seg1)
        segundos.append(seg2)
        
        id_ev1 = temp2['id_evento'][row]
        id_ev2 = temp2['id_evento'][row+1]
        id_eventos.append(id_ev1)
        id_eventos.append(id_ev2)
        
        jug1 = temp2['jugador'][row]
        jug2 = temp2['jugador'][row+1]
        jugadores.append(jug1)
        jugadores.append(jug2)
        
        id_jug1 = temp2['id_jugador'][row]
        id_jug2 = temp2['id_jugador'][row+1]
        id_jugadores.append(id_jug1)
        id_jugadores.append(id_jug2)
        
        cat_ev1 = temp2['categoria_evento'][row]
        cat_ev2 = temp2['categoria_evento'][row+1]
        categoria_eventos.append(cat_ev1)
        categoria_eventos.append(cat_ev2)
               
        out1 = temp2['outcome'][row]
        out2 = temp2['outcome'][row+1]
        outcomes.append(out1)
        outcomes.append(out2)
        
        ter_ter1 = temp2['3er_tercio'][row]
        ter_ter2 = temp2['3er_tercio'][row+1]
        tercer_tercios.append(ter_ter1)
        tercer_tercios.append(ter_ter2)
        
        flag1 = temp2['flag'][row]
        flag2 = temp2['flag'][row+1]
        flags.append(flag1)
        flags.append(flag2)
        
temp3 = pd.DataFrame({'fecha':fechas,'equipo':equipos,'id_periodo':id_periodos,'minuto':minutos,'segundo':segundos,
                     'id_evento':id_eventos,'id_jugador':id_jugadores,'jugador':jugadores,'categoria_evento':categoria_eventos,
                      'outcome':outcomes,'3er_tercio':tercer_tercios,'flag':flags})

In [20]:
temp3.head(10)

,fecha,equipo,id_periodo,minuto,segundo,id_evento,id_jugador,jugador,categoria_evento,outcome,3er_tercio,flag
0,1,Alavés,1,11,8,79,246162.0,Martín Aguirregabiria,drible,1,False,True
1,1,Alavés,1,11,13,80,246162.0,Martín Aguirregabiria,pase,0,True,False
2,2,Alavés,1,30,48,241,55378.0,Manuel Alejandro García Sánchez,intercepción,1,False,True
3,2,Alavés,1,30,50,210,55378.0,Manuel Alejandro García Sánchez,pase,1,True,False
4,2,Alavés,2,70,33,506,92190.0,Jonathan Rodríguez Menéndez,drible,1,False,True
5,2,Alavés,2,70,38,507,92190.0,Jonathan Rodríguez Menéndez,pase,0,True,False
6,2,Alavés,2,84,9,609,163817.0,Jorge Franco Alviz,drible,1,False,True
7,2,Alavés,2,84,12,610,163817.0,Jorge Franco Alviz,drible,0,True,False
8,3,Alavés,2,78,15,571,55179.0,Mubarak Wakaso,drible,1,False,True
9,3,Alavés,2,78,21,572,55179.0,Mubarak Wakaso,pase,0,True,False

In [21]:
temp4 = temp3.iloc[::2].reset_index(drop=True)[['fecha','equipo','id_jugador','jugador','flag']]

In [22]:
temp4.head(10)

   fecha  equipo  id_jugador                          jugador  flag
0      1  Alavés    246162.0            Martín Aguirregabiria  True
1      2  Alavés     55378.0  Manuel Alejandro García Sánchez  True
2      2  Alavés     92190.0      Jonathan Rodríguez Menéndez  True
3      2  Alavés    163817.0               Jorge Franco Alviz  True
4      3  Alavés     55179.0                   Mubarak Wakaso  True
5      4  Alavés     55179.0                   Mubarak Wakaso  True
6      4  Alavés     84471.0                       Ibai Gómez  True
7      4  Alavés     55378.0  Manuel Alejandro García Sánchez  True
8      5  Alavés     92190.0      Jonathan Rodríguez Menéndez  True
9      5  Alavés     55179.0                   Mubarak Wakaso  True

In [23]:
mtr2 = temp4.groupby(['fecha','equipo','id_jugador','jugador']).count().reset_index()
mtr2.rename(columns={'flag':'mtr2'},inplace=True)

In [24]:
mtr2.head()

   fecha              equipo  id_jugador                 jugador  mtr2
0      1              Alavés    246162.0   Martín Aguirregabiria     1
1      1       Athletic Club    140264.0  Daniel García Carrillo     1
2      1  Atlético de Madrid     65807.0            Stefan Savic     1
3      1  Atlético de Madrid     86399.0     Víctor Machín Pérez     1
4      1           Barcelona    219438.0         Ousmane Dembélé     1

In [25]:
mtr2 = mtr2.groupby(['equipo','id_jugador','jugador']).sum().drop('fecha',1).reset_index()

In [26]:
mtr2.tail(20)

          equipo  id_jugador                          jugador  mtr2
322  Valencia CF    181284.0  Gonçalo Manuel Ganchinho Guedes     8
323  Valencia CF    224444.0                    Ferrán Torres     1
324  Valencia CF    224860.0                     Carlos Soler     5
325   Villarreal     19524.0                 Santiago Cazorla     8
326   Villarreal     51948.0                      Víctor Ruiz     1
327   Villarreal     54513.0                   Vicente Iborra     1
328   Villarreal     58792.0                      Jaume Costa     1
329   Villarreal     73698.0                     Miguel Layún     1
330   Villarreal     76610.0                     Mario Gaspar     2
331   Villarreal     93721.0                    Gerard Moreno     4
332   Villarreal     98961.0           Manuel Trigueros Muñoz     3
333   Villarreal    111274.0                     Carlos Bacca     2
334   Villarreal    121221.0                Ramiro Funes Mori     1
335   Villarreal    193454.0                 Karl Toko Ekambi    13
336   Villarreal    208380.0                  Alfonso Pedraza     8
337   Villarreal    217593.0                    Pablo Fornals     4
338   Villarreal    218328.0                 Samuel Chukwueze     9
339   Villarreal    227164.0                  Manuel Morlanes     1
340   Villarreal    240071.0          Daniel Rabaseda Antolín     1
341   Villarreal    241160.0                 Santiago Cáseres     3

In [27]:
dataAggJug = pd.read_csv(r'C:\Users\DELUX\Desktop\consultoria_futbol\comparativoJugadores\dataAggJug.csv')

In [28]:
dataAggJug.head()

   fecha  id_jugador             estadistica  num_estadistica     jugador
0      1      212769             diving_save                1  Unai Simón
1      1      212769           leftside_pass                2  Unai Simón
2      1      212769           accurate_pass               10  Unai Simón
3      1      212769          rightside_pass                1  Unai Simón
4      1      212769  attempts_conceded_ibox                9  Unai Simón

In [29]:
minJug = dataAggJug[dataAggJug['estadistica']=='mins_played']

In [30]:
minJug = minJug.drop('estadistica',1).rename(columns={'num_estadistica':'minJug'})

In [31]:
minJug.head()

     fecha  id_jugador  minJug               jugador
34       1      212769      90            Unai Simón
111      1       59062      65       Óscar De Marcos
180      1      197319      90         Yeray Álvarez
249      1      242831      90       Peru Nolaskoain
328      1       42670      90  Yuri Berchiche Izeta

In [32]:
minJug = minJug.groupby(['id_jugador','jugador']).sum().reset_index().drop('fecha',1)

In [33]:
minJug.head()

   id_jugador                    jugador  minJug
0        7261             Daniele Bonera     233
1       10316  Joaquín Sánchez Rodríguez    1694
2       11129                David López    1820
3       11602            Borja Fernández     839
4       14028  Juan José Camacho Barnola      34

In [34]:
minJug[minJug['jugador']=='Martín Zubimendi']

     id_jugador           jugador  minJug
530      481655  Martín Zubimendi       6

In [35]:
mtr2x90 = minJug.merge(mtr2,on=['id_jugador','jugador'],how='left') #Hacemos left join para tener tabla con minutos jugados por jugador por fecha
mtr2x90['mtr2x90'] = mtr2x90['mtr2']/mtr2x90['minJug']*90 #Creamos mtr2x90
mtr2x90 = mtr2x90.drop(['mtr2','minJug'],1)

In [36]:
mtr2x90.head()

   id_jugador                    jugador      equipo   mtr2x90
0        7261             Daniele Bonera         NaN       NaN
1       10316  Joaquín Sánchez Rodríguez  Real Betis  0.265643
2       11129                David López    Espanyol  0.049451
3       11602            Borja Fernández         NaN       NaN
4       14028  Juan José Camacho Barnola         NaN       NaN

In [37]:
mtr2x90.isnull().any()

id_jugador    False
jugador       False
equipo         True
mtr2x90        True
dtype: bool

In [38]:
mtr2x90['mtr2x90'] = mtr2x90['mtr2x90'].replace(np.nan, 0)

In [39]:
mtr2x90.isnull().any()

id_jugador    False
jugador       False
equipo         True
mtr2x90       False
dtype: bool

In [40]:
mtr2x90.head()

   id_jugador                    jugador      equipo   mtr2x90
0        7261             Daniele Bonera         NaN  0.000000
1       10316  Joaquín Sánchez Rodríguez  Real Betis  0.265643
2       11129                David López    Espanyol  0.049451
3       11602            Borja Fernández         NaN  0.000000
4       14028  Juan José Camacho Barnola         NaN  0.000000

In [41]:
mtr2x90.isnull().sum()

id_jugador      0
jugador         0
equipo        192
mtr2x90         0
dtype: int64

In [42]:
mtr2x90[mtr2x90['jugador']=='Lionel Messi']

    id_jugador       jugador     equipo   mtr2x90
22       19054  Lionel Messi  Barcelona  0.498155

In [43]:
feat2 = mtr2x90.copy()
feat2 = feat2.rename(columns={'mtr2x90':'feat2'})

In [44]:
feat2.head()

   id_jugador                    jugador      equipo     feat2
0        7261             Daniele Bonera         NaN  0.000000
1       10316  Joaquín Sánchez Rodríguez  Real Betis  0.265643
2       11129                David López    Espanyol  0.049451
3       11602            Borja Fernández         NaN  0.000000
4       14028  Juan José Camacho Barnola         NaN  0.000000

In [45]:
feat2.isnull().sum()

id_jugador      0
jugador         0
equipo        192
feat2           0
dtype: int64

In [46]:
feat2.sort_values('feat2',ascending=False)

     id_jugador                       jugador              equipo     feat2
379      179369                  Carles Pérez           Barcelona  5.294118
498      430505           Alfa Semedo Esteves            Espanyol  2.142857
514      442838  Christopher Ramos De La Flor     Real Valladolid  1.406250
512      442156                   Miguel Marí               Eibar  1.343284
381      179926                    Iván Alejo              Getafe  1.232877
209       88961            Samuel Sáiz Alonso              Getafe  1.204013
425      203151                    Kevin Soni              Girona  1.153846
530      471138             Ander Barrenetxea       Real Sociedad  1.130653
306      128198                Sofiane Boufal       Celta de Vigo  1.030043
478      235652                  Daniel Ojeda             Leganés  0.937500
449      219438               Ousmane Dembélé           Barcelona  0.861759
329      154310   Gelson Dany Batalha Martins  Atlético de Madrid  0.807175
399      195303                     Marko Rog             Sevilla  0.762712
336      158213                Gaku Shibasaki              Getafe  0.694087
468      225463                  Amath Ndiaye              Getafe  0.623145
189       86399           Víctor Machín Pérez  Atlético de Madrid  0.604839
397      194625                   Kenan Kodro       Athletic Club  0.596026
390      185648               Wilfrid Kaptoum          Real Betis  0.579897
264      102738              Giannelli Imbula      Rayo Vallecano  0.569293
333      156223                  Ángel Correa  Atlético de Madrid  0.562500
364      174292                 Marco Asensio         Real Madrid  0.556805
395      193454              Karl Toko Ekambi          Villarreal  0.544693
114       59944        Sergio Gontán Gallardo     Real Valladolid  0.524951
346      166973              Andrew Hjulsager       Celta de Vigo  0.515759
280      108438                Sandro Ramírez       Real Sociedad  0.514286
116       59963               Maxime Gonalons             Sevilla  0.503731
460      222784                Theo Hernández       Real Sociedad  0.501012
458      220871                 Sergio Akieme      Rayo Vallecano  0.500000
393      192364               Marcos Llorente         Real Madrid  0.500000
22        19054                  Lionel Messi           Barcelona  0.498155
..          ...                           ...                 ...       ...
219       90328                   Rubén Pardo                 NaN  0.000000
221       90400                Sergio Postigo                 NaN  0.000000
222       90407                   David Timor                 NaN  0.000000
223       90483                  Javier Eraso                 NaN  0.000000
224       90573              Alejandro Gálvez                 NaN  0.000000
226       90728       Joaquín Navarro Jiménez                 NaN  0.000000
227       90801                 Ignasi Miquel                 NaN  0.000000
229       91393                   Pedro Bigas                 NaN  0.000000
230       91406              Fernando Pacheco                 NaN  0.000000
231       91953      Alexánder Alegría Moreno                 NaN  0.000000
236       93421                   Rodrigo Ely                 NaN  0.000000
238       93921            Leandro Chichizola                 NaN  0.000000
240       94618               Marko Dmitrovic                 NaN  0.000000
242       96084               Álvaro González                 NaN  0.000000
295      116626        Kévin Manuel Rodrigues                 NaN  0.000000
243       96093               Nikola Vukcevic                 NaN  0.000000
253       98976                Bruno González                 NaN  0.000000
255       99128                  Óscar Duarte                 NaN  0.000000
256      100692        Edinaldo Gomes Pereira                 NaN  0.000000
259      100868                 Néstor Araújo                 NaN  0.000000
262      101841                  Robert Mazán                 NaN  0.000000
270      105064               Jozabed Sánchez                 NaN  0.000000
271      105488                   David Juncà                 NaN  0.000000
273      106539                  Rubén Blanco                 NaN  0.000000
276      106921                Gerónimo Rulli                 NaN  0.000000
279      107807                 Kevin Vázquez                 NaN  0.000000
284      109702                   Roger Martí                 NaN  0.000000
285      109707         Alexander Szymanowski                 NaN  0.000000
291      113965               Patrick Twumasi                 NaN  0.000000
533      481655              Martín Zubimendi                 NaN  0.000000

[534 rows x 4 columns]

In [47]:
feat2[feat2['equipo']=='Real Madrid']

,id_jugador,jugador,equipo,feat2
14,17861,Sergio Ramos,Real Madrid,0.036378
25,19927,Karim Benzema,Real Madrid,0.121581
38,36903,Gareth Bale,Real Madrid,0.100446
39,37055,Luka Modric,Real Madrid,0.103172
45,39563,Marcelo Vieira Da Silva Junior,Real Madrid,0.097773
58,44989,Toni Kroos,Real Madrid,0.121239
119,61256,Carlos Henrique Jose Francisco Venancio,Real Madrid,0.388601
156,80209,Francisco Román Alarcón Suárez,Real Madrid,0.303541
198,88477,Jose Ignacio Fernandez Iglesias,Real Madrid,0.052910
200,88483,Daniel Carvajal,Real Madrid,0.170940
278,107593,Lucas Vázquez,Real Madrid,0.239840
364,174292,Marco Asensio,Real Madrid,0.556805
371,178347,Mariano Díaz Mejía,Real Madrid,0.205011
386,182539,Daniel Ceballos Fernández,Real Madrid,0.288925
393,192364,Marcos Llorente,Real Madrid,0.500000
413,199249,Sergio Reguilón,Real Madrid,0.080285
461,223255,Federico Valverde,Real Madrid,0.276498
495,246333,Vinicius José Paixão de Oliveira Júnior,Real Madrid,0.416667

In [48]:
cd C:\Users\DELUX\Desktop\publicaciones\1_DataScoutingClustering\1_MedioCentroCreativo\df

C:\Users\DELUX\Desktop\publicaciones\1_DataScoutingClustering\1_MedioCentroCreativo\df

In [49]:
feat2.to_csv('feat2.csv',encoding='utf-8', index=False,decimal=',')